<h1><%= @product.name %> <span class='text-muted'>(<%= number_to_currency @product.price %>)</span></h1>
<div class='label label-primary'><%= @product.department %></div>

<%=h raw @product.description %>

